
BVA/Prakikum/2/praktikum2_Tobias-Vogt_Jonas-Köhler/cmake-build-debug/children.mp4
BVA/Prakikum/2/praktikum2_Tobias-Vogt_Jonas-Köhler/cmake-build-debug/children3.mp4
BVA/Prakikum/2/praktikum2_Tobias-Vogt_Jonas-Köhler/cmake-build-debug/depth.avi
BVA/Prakikum/2/praktikum2_Tobias-Vogt_Jonas-Köhler/cmake-build-debug/rgb.avi
